<h1>Display your Pirate here</h1>
<h1>Name: <%= @pirates.name %></h1>
<h1>Weight: <%= @pirates.weight %></h1>
<h1>Height: <%= @pirates.height %></h1>

<h2>Display your first ship here</h2>
<% @ships.each do |ship| %>
    <div class="ship">
        <p>Ship Name: <%= ship.name %>
        <p>Ship Type: <%= ship.type %>
        <p>Ship Booty: <%= ship.booty %>
        </div><br>
        <% end %> 